[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "infix"]
	path = infix
	url = https://github.com/ebeneditos/infix
[submodule "telegram.bot"]
	path = telegram.bot
	url = https://github.com/ebeneditos/telegram.bot
